<div class="row">
	<h1>Inbox</h1>
	<div class="col-md-3">
		<ul class="table">
			<li ng-repeat=" assignment in AMController.assignmentsCollection">
				<a ui-sref="assignments.details({assignment_ID: assignment.id, creator_ID: assignment.creator.id })">{{assignment.title}}</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6 offset-md-3">
	<tabset ng-show="AMController.selectedAssignment">
		
		<tab heading="Assignments">
			<div class="container">
				<h1>
					{{AMController.selectedAssignment.title}}
				</h1>
				<p>
					{{AMController.selectedAssignment.description}}
				</p>
			</div>
			
		</tab>
		<tab heading="Submissions">
			<accordion close-others="true">
				<accordion-group ng-repeat="submissions in AMController.submissionsCollection"  ng-animation="slide" >
					<accordion-heading>
						<h4>
							<img src="{{submissions.creator.avatars.large}}"/>
							{{submissions.creator.first_name}} {{submissions.creator.last_name}}
						</h4>
					</accordion-heading>
					
					{{submissions.content}}
				</accordion-group>
			</accordion>
		</tab>
		
		</tab>
	</tabset>
		
	</div>
	
</div>